{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    {% if user.is_authenticated  %}
    <div class="col-12">
        <div class="row">
            <div class="col-12">
            {% if user.screen_name %}
                <h2 class="h2">ようこそ！{{ user.screen_name }}さん</h2>
            {% else %}
                <h2 class="h2">ようこそ！{{ user.email }}さん</h2>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">項目</th>
                            <th>リンク</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if user.is_staff %}
                        <tr>
                            <td scope="row">Admin管理サイト</td>
                            <td>
                                <a href="/admin" class="btn btn-outline-primary btn-block" target="_self">
                                    Let's go!
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">ユーザ作成</td>
                            <td>
                                <a href="{% url 'account:create_user' %}" class="btn btn-outline-primary btn-block" target="_self">
                                    Let's go!
                                </a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td scope="row">ユーザプロファイル</td>
                            <td>
                                <a href="{% url 'account:user_profile' %}" class="btn btn-outline-primary btn-block" target="_self">
                                    Let's go!
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">ToDoリスト</td>
                            <td>
                                <a href="{% url 'todolist:index' %}" class="btn btn-outline-primary btn-block" target="_self">
                                    Let's go!
                                </a>
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <div class="row">
            <h5 class="h5">上のリンクからログインしてください。</h5>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
