{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    {% if user.is_authenticated  %}
    <div class="col-12">
        <div class="row">
            <div class="col-12">
            {% if user.screen_name %}
                <h2 class="h2">ようこそ！{{ user.screen_name }}さん</h2>
            {% else %}
                <h2 class="h2">ようこそ！{{ user.email }}さん</h2>
            {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% if user.is_staff %}
                <div class="card-columns">
                    <div class="card">
                        <div class="card-header">Admin管理サイト</div>
                        <div class="card-body">
                            <a href="/admin" class="btn btn-link btn-block" target="_self">
                                Admin管理サイト
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">ユーザ作成・更新</div>
                        <div class="card-body">
                            <a href="{% url 'account:registered_user' %}" class="btn btn-link btn-block" target="_self">
                                ユーザ作成・更新
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">ToDoリスト</div>
                        <div class="card-body">
                            <a href="{% url 'todolist:index' %}" class="btn btn-link btn-block" target="_self">
                                ToDoリスト
                            </a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="card-columns">
                    <div class="card">
                        <div class="card-header">ユーザプロファイル</div>
                        <div class="card-body">
                            <a href="{% url 'account:user_profile' %}" class="btn btn-link btn-block" target="_self">
                                ユーザプロファイル
                            </a>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">ToDoリスト</div>
                        <div class="card-body">
                            <a href="{% url 'todolist:index' %}" class="btn btn-link btn-block" target="_self">
                                ToDoリスト
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="col-12">
        <div class="row">
            <h5 class="h5">上のリンクからログインしてください。</h5>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
