{% extends user.is_staff|yesno:'account/registered_user.html,account/user_profile.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb target_user.email "account:set_password" target_user.pk %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
    {% if user.is_staff or user.pk == target_user.pk %}
        <div class="row">
            <div class="col-12">
                <form action="" method="POST" id="set-password-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block" form="set-password-form">送信</button>
            </div>
            <div class="col-6">
                {% if user.is_staff %}
                <a href="{% url 'account:registered_user' %}" class="btn btn-secondary btn-block" >戻る</a>
                {% else %}
                <a href="{% url 'account:user_profile' %}" class="btn btn-secondary btn-block" >戻る</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        ページを表示する権限がありません。
    {% endif %}
    </div>
</div>
{% endblock %}
