{% extends 'account/registered_user.html' %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb target_user.email "account:update_user_profile" target_user.pk %}
{% endblock %}

{% block header %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
    {% if user.is_staff %}
        <div class="row">
            <div class="col-12">
                <form action="" method="POST" id="user-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary btn-block" form="user-form">送信</button>
            </div>
            <div class="col-6">
                <a href="{% url 'account:registered_user' %}" class="btn btn-secondary btn-block" >戻る</a>
            </div>
        </div>
    {% else %}
        ページを表示する権限がありません。
    {% endif %}
    </div>
</div>
{% endblock %}

{% block bodyjs %}
    {{ block.super }}
{% endblock %}