{% extends 'todolist/breadcrumbs_todolist_each_user.html' %}
{% load django_bootstrap_breadcrumbs %}
{% load markdown_extras %}
{% load custom_filter %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb target_user.email "todolist:detail_user_tasks" target_user.pk %}
{% endblock %}

{% block content %}
{% if user.is_staff %}
<div class="row justify-content-center">
    <div class="col-12">
        <h3 class="h3 mt-1">各タスクの進捗状況詳細</h3>
        {% for task in page_obj %}
        <div class="row mt-3">
            <div class="card text-left col-12">
                <div class="card-header">
                    <div class="row">
                        <div class="col-6">
                            種別：{{ task.category.name }}
                        </div>
                        <div class="col-3">
                            達成状況：
                            {% if task.is_done %}
                            達成
                            {% else %}
                            <font color="red">未達成</font>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            <a href="{% url 'todolist:update_task' task.pk %}" class="btn btn-success btn-block">編集</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                    <div class="row">
                        <div class="col-12">
                            {{ task.text | markdown2html }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-6">
                            期日：{{ task.limit_date|date:'Y-m-d' }}
                        </div>
                        <div class="col-6">
                        {% if task.is_done %}
                            達成日：{{ task.complete_date|date:'Y-m-d' }}
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if tasks %}
<div class="row justify-content-center mt-3">
    <div class="col-12">
{% include "pagination.html" %}
    </div>
</div>
{% endif %}
{% else %}
<div class="row justify-content-center mt-3">
    <div class="col-12">
        ページを表示する権限がありません。
    </div>
</div>
{% endif %}
{% endblock %}

{% block bodyjs %}
<script>
(function() {
    const selectElement = document.querySelector('#{{ search_form.user.auto_id }}');
    selectElement.addEventListener('change', (event) => {
        const searchForm = document.getElementById('search-form');
        searchForm.submit();
    });
}());
</script>
{% endblock %}