{% extends 'todolist/breadcrumbs_todolist.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">項目</th>
                    <th>リンク</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">挑戦中のタスク</td>
                    <td>
                        <a href="{% url 'todolist:doing_task' %}" class="btn btn-outline-primary btn-block" target="_self">
                            Let's go!
                        </a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">ポイント履歴</td>
                    <td>
                        <a href="{% url 'todolist:history' %}" class="btn btn-outline-primary btn-block" target="_self">
                            Let's go!
                        </a>
                    </td>
                </tr>
                {% if user.is_staff %}
                <tr>
                    <td scope="row">タスクカテゴリの作成</td>
                    <td>
                        <a href="{% url 'todolist:create_task_category' %}" class="btn btn-outline-primary btn-block" target="_self">
                            Let's go!
                        </a>
                    </td>
                </tr>
                <tr>
                    <td scope="row">タスクの作成</td>
                    <td>
                        <a href="{% url 'todolist:create_task' %}" class="btn btn-outline-primary btn-block" target="_self">
                            Let's go!
                        </a>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
